/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
}
.header{
	background-color:#011e29;
	color:white;
	padding:10px;
}
.header h2{
	text-align: start;
}

.body1{
	display:flex;
	justify-content:space-between;
}
img{
	width:140px;
	margin-top:10px
	
}
.pictorial-news-section h3{
	margin:0 auto;
}
.pictorial-news-section{
background-color:white;
	border-radius:15px;
	display:flex;
	flex-direction:column;
	padding:10px;
	
}
.main_article{
	background-color:white;
	border-radius:15px;
	width:220px;
	height:150px;
	padding:10px;
	
}
.main_article h3{
	text-align:start;
}
.latest-news-section{
	background-color:white;
	border-radius:15px;
}
